body{

}

    }
.text{
    text-align:center;
    font-size: 50px;
    padding: 30px;
}
 .container03{
     background-color: gold;
     height: 80px; 
     position: absolute;

 }
 
 .container01{
    background-color: blue;
    height: 75px;
    position: absolute;
   
}
.container02{
    background-color: brown;
    height: 100px;
    position: absolute;
}





    



